@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');


body{
     background: url("../images/dash.jpeg")
    no-repeat center center fixed;
    opacity: 0.9;
    background-size: cover;
    padding-top: 50px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  background-color:#7B8788;
  color:black;
}

.nav-sidebar > .active > a, a:hover,
 a:focus {
  color: black;
  background-color: #428bca;
}

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    display: block;
    padding: 20px;
    background-color:#2C3335;
    border-right: 1px solid #535C68;
    opacity:
  }
.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
}



.overview{
    border-radius: 20px;
    width: 30%;
    background-color: black;
    text-align: center;
    margin:auto ;
    padding: 40px 20px;
    margin: 80px auto;
    margin-left: 550px;
    color: white;
    opacity: 0.5;
}




/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.table-responsive{
    margin-left: 350px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    width: 70%;
    margin-top:5px;
}
.sub-header{
    margin-left: 250px;
    margin-top: 220px;
    padding:10px;
    font-family: sans-serif;
    font-size: 40px;
}

.details{
    width: 84%;
    margin-left: 223px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    margin-top:5px;
    position: fixed
}

.spendLeft{
    
    float: left;
    font-size: 30px;
    
}

.income{
    
    float: right;
    font-size: 30px;
    
}

.alert{
/*    color: #E71C23;*/
      color: #45CE30;
}

thead{
    font-size: 18px;
}


/*

footer{
    color: whitesmoke;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}
*/

